.container {

  background-color: #F3FFFF;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: nowrap;

}

  .card {

  border: 1px solid black;
  margin-top: 15px;
  margin-right: 10px;
  background-color: white;
  height: 600px;
  width: 200px;

}

.card:hover {
  box-shadow: 0 8px 15px 0 rgb(0, 0, 0);

}
img {

    height: 175px;
    width: 150px;
    margin: 30px;
    border: solid 1px purple ;
}

.masthead {

    background: rgb(230, 221, 221);
  
    height: 5em;
  
  }
  
  .centeredText {
  
    text-align: center;
  
  }
  
  .site-title {
  
    color: white;
  
    font-family: RockFont;
  
    font-size: 80px;
  
    font-weight: bolder;
  
  }

  @font-face {

    font-family: RockFont;
  
    src: url("Funkrocker.otf");
  
  }
  
  
  
  h4 {
  
    font-family: RockFont;
  
  }

  @media screen and (max-width:500px) {

    .card {

      width:450px;

    }
  }

 

 

 
